<% include master/header.html %>
<!-- <div id="background"> -->
    <div class="scorediv">
        <!-- <div class="scores">logo</div>               -->
    </div>
        <div class="gameboy2">
            <div class="nav">
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
                </ul>
                
            </div>
            <div class="grid">
                    <div class="grid-item">
                    </div>
                    <div class="grid-item">
                          
                    </div>
            </div>
            

        </div>
<% include master/footer.html %>