<% include master/header.html %>
        <div class="gameboy-advice">
            <div class="nav">
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
                </ul>
                
            </div>
            <div class="advice-grid">
                    <div id="personage-advice" class="mobile">
                            <img class="mobile" src="assets/img/designer.png">
                   </div>
                <div class="advice-item spaghetti">
               
                            <h1 id="score">Je bent een wereldverbeteraar!</h1>
                            <h3 id="startup">Type startup: The bodyshop</span></h3>
                            <p id="description">Je geeft om wat er om je heen gebeurt op de planeet. Jij wil met jouw onderneming onze planeet een betere plek maken voor iedereen.</p>
                        </div>
                        <div class="advice-item">
                                <div id="personage-advice" class="not-mobile">
                                    <img src="assets/img/wereldverbeteraar.png">
                                </div>
                        </div>
                    
            </div>
            

        </div>
        <script src="data.js"></script>
<script>
    // Locale storage functies declareren.
const get = (f) => {
    return localStorage.getItem(f);
    return false;
};

let wereldverbeteraar = get('wereldverbeteraar') || false;
let innovator = get('innovator') || false;
let opportunist = get('opportunist') || false;
let geldwolf = get('geldwolf') || false;
let ondernemersScores = [wereldverbeteraar,innovator,opportunist,geldwolf];
let ondernemersTypes = ['wereldverbeteraar','innovator','opportunist','geldwolf'];
let highestScore = ondernemersScores.findIndex(isLargeNumber);

function isLargeNumber(element) {
  return element > 2;
}
    document.getElementById('score').innerHTML = 'Je bent een ' + ondernemersTypes[highestScore] + '!';

</script>
<% include master/footer.html %>