<% include master/header.html %>
<div class="scorediv">
        <div class="scores">Highscores</div>       
        <div class="scores"><p>Valuation = <span id="valu" class="score">0</span></p><p>Company Culture = <span id="happ" class="score">0</span></p></div>       
</div>
        <div class="gameboy">
                <div class="title"><p>Tech-startup Calculator</p></div>
                        <div class="question-container">
                                <div class="img"><img class="img-desc" src="/assets/img/happiness-00.png"/></div>
                               <div class="question-title">Question:</div>
                               <div id="question">...</div>
                        </div>   
                        <div class="answer-container">
                                <button class="item" id="button1"><p id="A">Answer A</p></button>
                             
                                <button class="item" id="button2"><p id="B">Answer B</p></button>
                        </div>    
        </div>
        <a href="/">Back</a>

<script src="data.js"></script>
<script src="../assets/js/main.js"></script>
<% include master/footer.html %>
