<% include master/header.html %>
<div class="scorediv">
        <!-- <div class="scores">Highscores</div>       
        <div class="scores"><p>Valuation = <span id="valu" class="score">0</span></p><p>Company Culture = <span id="happ" class="score">0</span></p></div>        -->
</div>
        <div class="gameboy">


                <img src="assets/img/shape1.png">
                        <div class="grid-item">
                                        <a href="/"><i class="fas fa-chevron-left"></i> Back</a>
                                <h1 id="character">Lucas <br>de Designer</h1>
                                <p id="question"> TEST</p>
<!--                                 
                                        <div class="answers" id="button1">LOL</div>
                                        <div class="answers" id="button2">LOL</div>
                                        <div class="answers" id="button3">LOL</div> -->
                               
                                 <form>
                                                <input id="button1" type="radio" name="gender" value="male"> Je contacteert de klant met een reminder over de betaling<br>
                                                <input id="button2" type="radio" name="gender" value="male"> Je neemt juridische stappen tegen de klant<br>
                                                <input id="button3" type="radio" name="gender" value="male"> Je doet niets<br>
                                </form>
                                <input type="submit" value="Volgende">

                        </div>
                        <div class="grid-item">
                                <img  class="personage" src="assets/img/personages/designer1.png">
                        </div>
                </div>
        
        <!-- <div class="bottom-layer">   
                        <img src="assets/img/shape2.png">   
        </div>
        <div class="top-layer">
                        <img src="assets/img/shape3.png">
        </div> -->

<script src="data.js"></script>
<script src="../assets/js/main.js"></script>
<% include master/footer.html %>
