<% include master/header.html %>
<div class="scorediv">
        <!-- <div class="scores">Highscores</div>       
        <div class="scores"><p>Valuation = <span id="valu" class="score">0</span></p><p>Company Culture = <span id="happ" class="score">0</span></p></div>        -->
</div>
        <div class="gameboy">


                <img src="assets/img/shape1.png">
                        <div class="grid-item">
                                        <a href="/"><i class="fas fa-chevron-left"></i> Back</a>
                                <h1 id="character">Lucas <br> De Designer <!-- {{window.cards[counter].character}} --></h1>
                                <p id="question"> TEST</p>
                                
                                        <div class="answers" id="button1">LOL</div>
                                        <div class="answers" id="button2">LOL</div>
                                        <div class="answers" id="button3">LOL</div>
                               
                                  <!-- <form>
                                                <input class="form-item" id="button1" type="radio" name="gender" value="male"> A. In de begin fase van je onderneming lijkt het je niet slim om 20.000 euro aan een logo te spenderen.<br>
                                                <input class="form-item" id="button2" type="radio" name="gender" value="male"> B. Je bent fan van Lucas zijn portfolio dus je spendeert 20.000 euro aan een nieuw logo.<br>
                                                <input class="form-item" id="button3" type="radio" name="gender" value="male"> C. Je kopieert een bestaand logo van een ander bedrijf.<br>
                                </form> -->
                                <input type="submit" value="Volgende">

                        </div>
                        <div class="grid-item">
                                <img  class="personage" src="assets/img/personages/designer1.png">
                        </div>
                </div>
        
        <!-- <div class="bottom-layer">   
                        <img src="assets/img/shape2.png">   
        </div>
        <div class="top-layer">
                        <img src="assets/img/shape3.png">
        </div> -->
<script src="data.js"></script>
<script src="../assets/js/main.js"></script>
<% include master/footer.html %>
