<% include master/header.html %>
    <div class="gameboy3">
            <a class="back" href="/"><i class="fas fa-chevron-left"></i> Back</a>
        <div class="nav">
            <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
            </ul>
        </div>
        <div class="grid">
            <div class="grid-item">
                                  <div>
                                      
                                      <form action="https://www.enformed.io/io9gxwj1" method="POST" >
                          
                                    <div class="input">
                                          <input type="text" name="Name" id="name" placeholder="Full Name" />
                                          <span class="icon"><i class="fas fa-user"></i></span>
                                    </div>
                                    <div class="input">
                                            <input type="text" name="Email" id="email" placeholder="Email"/>
                                            <span class="icon"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <div class="input">
                                            <input type="text" name="Phone" id="phone" placeholder="Phone"/>
                                            <span class="icon"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <div class="input text">
                                            <textarea  style="height: 8rem;" name="Message" rows="20" cols="20" id="message" placeholder="Message"></textarea>
                                      </div>
                                      <div class="input">
                                          <input type="submit" id="send_email" id="submit" name="submit" value="Submit" class="submit-button"/>
                                    </div>
                                      </form>
                                  </div>

                  
            </div>
            <div class="grid-item">
                    <img id="hoofd" src="assets/img/marketeer.png">

                    <ul id="contact-me">
                            <li>Naam:<strong> Niccolo Montini</strong></li>
                            <li>Tel:<strong> +32485005472</strong></li>
                            <li>Email:<strong> niccolo.montini@hotmail.com</strong></li>
                    </ul>
            </div>
        </div>              
    </div>
<% include master/footer.html %>