<% include master/header.html %>
    <div class="scorediv">
    </div>
        <div class="gameboy2">
            <div class="nav">
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
                </ul>
                
            </div>
            <div class="grid">
                    <div class="grid-item">
                            <img id="logo" class="not-mobile" src="assets/img/logo.png">
                    </div>
                    
                    <div class="grid-item">
                            <div class="welcome">
                                    <img class='mobile' id="logo" src="assets/img/logo.png">
                                <br>
                                    <h3>Welkom bij de <strong>Start-up</strong> test!</h3>
                                    <br>
                                    <!-- <p>
                                       Tijdens deze test ben je baas van je eigen virtuele start-up.
                                        Aan de hand van jouw beslissingen op verschillende situaties wordt de valuatie van het bedrijf en de tevredenheid van je werknemers beïnvloed.
                                        Maak aan de hand van de gegevens de juiste beslissingen en laat zien of jij klaar bent om je eigen start-up te runnen. Klaar? Start!
                                    </p> -->
                                    <p>
                                       Het is tijd om erachter te komen wat voor type ondernemer je bent!
                                       Beantwoord de vragen met de optie die voor jouw het meeste logische klinkt en na afloop krijg je te horen wat voor type ondernemer je bent.<br class="not-mobile"> Klaar? <span>Start!</span>
                                     </p>
                                    <a href="/calculator"><div class="button">Start de test!</div></a>
                                </div>
                    </div>
            </div>

        </div>
<% include master/footer.html %>