<% include master/header.html %>
<!-- <div id="background"> -->
    <div class="scorediv">
        <!-- <div class="scores">logo</div>               -->
    </div>
        <div class="gameboy2">
            <div class="nav">
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
                </ul>
                
            </div>
            <div class="grid">
                    <div class="grid-item">
                            <img id="logo" src="assets/img/logo.png">
                    </div>
                    <div class="grid-item">
                            <div class="welcome">
                                <br>
                                <br>
                                    <h3>Welkom bij de Start-up test!</h3>
                                    <br>
                                    <p>
                                        Wil jij jouw ondernemerscapaciteiten testen? Bij deze test ben je CEO van je eigen virtuele start-up. 
                                        Aan de hand van een aantal vragen kan jij laten zien of jij klaar bent voor deze uitdaging.
                                        Ready? Set, Go!
                                    </p>
                                    <a href="/calculator"><div class="button">Start de test!</div></a>
                                </div>
                    </div>
            </div>
            
            <!-- 
                             -->
        </div>
<!-- </div> -->
<% include master/footer.html %>