<% include master/header.html %>
<div class="scorediv">
    <!-- <div class="scores">logo</div>               -->
</div>
    <div class="gameboy">
            <div class="character-img"><img src="https://via.placeholder.com/420x200"></div>
                            <div class="welcome"><h2>Welkom bij de Startup Test</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae officia dolor atque voluptatibus voluptas deserunt nihil eaque adipisci rem nisi voluptatum, ut expedita animi. Quo ducimus voluptates animi vero cupiditate.</p>
                            </div>
                            <a href="/calculator"><div class="button">Start de test!</div></a>
    </div>
<% include master/footer.html %>