<% include master/header.html %>
<div class="scorediv">
    <!-- <div class="scores">logo</div>               -->
</div>
    <div class="gameboy3">
        <a class="back" href="/"><i class="fas fa-chevron-left"></i> Back</a>
        <div class="nav">
            
            <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
            </ul>
        </div>
        
        <div class="grid">
                <div class="grid-item">
                    <img src="assets/img/jeffrey.png">    
                </div>
            <div class="grid-item info">
                <p>Dit spel is gemaakt in Mei 2019 tijdens mijn bachelor-opleiding: Grafisch en Digitale Media - Crossmedia Ontwerp.<br><br>
                In opdracht van AP hogeschool te Antwerpen en in samenwerking met Verhaeghe Capital BVBA heb ik dit project tot stand gebracht als eindwerk.<br><br>
                Graag wil ik een aantal personen bedanken die hebben geholpen om mijn bachelorproef te realiseren: Timothy Verhaeghe, Yannig Bourgeois, Gianmarco, Sylvie & Mathias Montini, Nathalie Sempels, Robin Geers, Didier Opdebeeck, ...  
                
                </p>
            </div>
            
        </div>              
    </div>
<% include master/footer.html %>