<% include master/header.html %>
<div class="scorediv">
    <!-- <div class="scores">logo</div>               -->
</div>
    <div class="gameboy3">
        <a class="back" href="/"><i class="fas fa-chevron-left"></i> Back</a>
        <div class="nav">
            
            <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/info">Info</a></li>
                    <li><a href="/calculator">De test</a></li>
            </ul>
        </div>
        
        <div class="grid">
                <div class="grid-item">
                    <img class="klein" src="assets/img/jeffrey.png">    
                </div>
            <div class="grid-item info">
                <p> Duid een antwoord aan en klik op 'volgende' om door te gaan naar de volgende vraag. Met de 'vorige' knop kan je je antwoorden nog aanpassen. Na afloop van de test klik je op 'beëindigen' om je antwoorden in te dienen.  Aan de hand van jouw antwoorden op de verschillende vragen wordt je ingedeelt in één van de 6 types van ondernemer uit de test. <br> <br> De bedoeling van deze test is om jou te laten nadenken over het ondernemen.
                    Heb je nog vragen over dit project? Aarzel niet om mij een berichtje te sturen via de contactpagina. <br> <br>
                    De 6 mogelijke ondernemerstypes zijn: de wereldverbeteraar, de visionair, de opportunist, de revolutionair, de geldwolf en de analist.
                    Veel succes!
                    
                </p>
            </div>
            
        </div>            
    </div>
<% include master/footer.html %>